/* VIEW MD */

@media screen and (max-width:768px) {

    #wrapper .row {
        flex-wrap: wrap;
    }

    .library .col {
        width: calc((100% / 4) - 20px);
    }
    
}


/* VIEW S */

@media screen and (max-width:576px) {

    .library .col {
        width: calc(50% - 20px);
    }
    
    #play-bar .col-25 {
        width: calc((100% / 3) - 20px);
    }

    .col-50 {
        width: calc((100% / 3) - 20px);
    }

    .icons {
        font-size: 15px;
    }

    .up-tools .icons {
        padding: 5px;
    }

    #play {
        font-size: 20px;
    }

    .down-tools {
        gap: 5px;
    }
}


/* VIEW XS */

@media screen and (max-width:480px) {

    .side-menu span, #logo-big, #avatar span, .menu.playlist {
        display: none;
    }

    .side-menu {
        width: 50px;
    }
    
    #avatar {
        border-top: 0;
    }

    #avatar img {
        margin-left: -5px;
    }

    #logo-small {
        display: block;
        width: 25px;
        margin: 0;
    }

    .library {
        width: calc(100% - 50px);
    }

    .upgrade {
        width: calc(100% - 50px)
    }
}