/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* REGOLE MAIN */

#wrapper {
    height: calc(100vh - 100px);
    background-color: blueviolet;
    display: flex;
}

.side-menu {
    width: 200px;

    /* debug */
    height: 100%;
    background-color: blue;
}

.library {
    width: calc(100% - 200px);
    overflow-y: auto;

    /* debug */
    height: 100%;
    background-color: yellow;

}

#play-bar {
    height: 100px;
    width: 100%;
    background-color: red;
}